.app-service-card-container {
    padding: 20px !important;
    height: 100vh !important;
    min-height: 355px !important;
    max-height: 455px !important;
}

.app-service-card {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.app-service-card-title {
    font-family: "Nunito Sans Bold";
    color: #ffffff;
    line-height: 45px;
    font-size: 24px;
}
