.app-service-card-container {
    padding: 20px !important;
    height: 296px !important;
}

.app-service-card {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.app-service-card-title {
    font-family: "Nunito Sans Bold";
    color: #ffffff;
    line-height: 45px;
    font-size: 24px;
}

.app-service-card-underline {
    width: 24px;
    background: #ffffff;
    border-radius: 12px;
    height: 1px;
    margin : 13px auto 0px auto;
}

.blacked-40 {
    background: rgb(0, 0, 0,0.4);
}
