<div *ngIf="selectedProductDetail != null else itemNotSelected">
    <div class="row p-0 m-0 full-parent-height">
        <div
            *ngFor="let product of availableProducts"
            (click)="selectItem(product)"
            class="col-lg-6 col-md-6 col-sm-12 half-parent-height p-0 app-products-card-container">
            <div class="card border-0 shadow app-products-card">
                <img
                    style="width: 100%;height: 152px;background: #ff0066"
                    src="assets/icons/{{product.icon}}">
                <div class="app-products-card-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="app-products-card-title">{{product.name}}</div>
                            <div 
                                class="app-products-card-package-rating">
                                <i 
                                    *ngFor="let _class of getStarArray(product.rating)"
                                    class="{{_class}}"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="app-products-card-package-title">Package starting from</div>
                            <div class="app-products-card-package-price">{{product.price}} INR</div>
                        </div>
                    </div>
                    <div class="app-products-card-package-description">{{product.description}}</div>
                </div>
            </div>
        </div>
   </div>

</div>
<ng-template #itemNotSelected>
    <div class="row p-0 m-0 full-parent-height">
        <div
                *ngFor="let product of availableProducts"
                (click)="selectItem(product)"
                class="col-lg-4 col-md-6 col-sm-12 half-parent-height p-0 app-products-card-container">
                <div class="card border-0 shadow app-products-card">
                    <img
                        style="width: 100%;height: 300px;background: #ff0066"
                        src="assets/icons/{{product.icon}}">
                    <div class="app-products-card-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="app-products-card-title">{{product.name}}</div>
                                <div 
                                    class="app-products-card-package-rating">
                                    <i 
                                        *ngFor="let _class of getStarArray(product.rating)"
                                        class="{{_class}}"></i>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="app-products-card-package-title">Package starting from</div>
                                <div class="app-products-card-package-price">{{product.price}} INR</div>
                            </div>
                        </div>
                        <div class="app-products-card-package-description">{{product.description}}</div>
                    </div>
                </div>
        </div>
    </div>
</ng-template>
