.contact-us {
    background: #ffffff;
}

.contactUsBody {
    height: calc(100vh - 104px);
    width: 100%;
}

.contactUsLeft {
    width:100%; 
    height:100%; 
    background: url('../../../assets/icons/contact-us-left-bgr.png');
    background-size: cover;
    padding: 66px 28px 94px 28px;
    color: #ffffff;
    text-align: left;
}

.contact-us-title {
    width: 100%;
    font-family: "Nunito Sans";
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
}

.contact-us-seperator {
    width: 15%;
    margin-top:4px;
    margin-bottom: 40px;
    border-top-style: solid;
    border-top-color: white;
    border-width: 1px;
}

.contact-us-left {
    width: 100%;
    margin-top: 32px!important;
}

.contact-us-left-icon {
    vertical-align: top;
    display: inline-block;
    height: 32px;
    width: 32px;
}

.contact-us-left-text {
    display: inline-block;
    margin-left: 24px;
    width: 80%;
    font-family: Nunito Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.contact-us-left-maps {
    margin-top: 8px;
}

.contact-us-left-maps-icon {
    margin-left: 56px;
    display: inline-block;
    height: 24px;
    width: 24px;
}

.contact-us-left-maps-text {
    display: inline-block;
    width: 50%;
    font-family: Nunito Sans;
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    margin-left: 8px;
}

.contact-us-label {
    padding : 0px 27px !important;
    width: 100%;
    color: #29292F;
    font-family: Nunito Sans;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    margin-top: 32px !important;
}

.contact-us-label-bold {
    font-weight: 700;
}

.contact-us-input-label {
    padding : 0px !important;
    width: 100%;
    color: #29292F;
    font-family: Nunito Sans;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-top: 32px !important;
}


.contact-us-label3 {
    color: #535353;
    font-family: Nunito Sans Regular;
    font-size: 14px;
    line-height: 19px;
    margin-top: 12px !important;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-bottom: 46px!important;
    width: 50%;
    text-align: left;
}


.contact-us-input-holder {
    margin-top: 28px!important;
    margin-left: auto!important;
    margin-right: auto!important;
    width: 50%;
    border-color: #A87F4122;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    background: rgba(255,255,255,0.1);
}

.contact-us-input-number {
    background: transparent;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 24px;
    font-family: Nunito Sans Regular;
    border: none;
    color: #535353;
}

.contact-us-input-number::-moz-placeholder {
    color: #4A4B54;
}

.contact-us-input-icon {
    width: 20px;
    height: 20px;
    margin-top: 14px;
    margin-left: 12px;
}



.contact-us-input-submit {
    margin-top: 24px;
    width: 100%;
    padding: 12px 19px;
    color: #ffffff;
    background: #0361E3;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    font-family: Nunito Sans;
}


.app-product-details-write-your-review-input-area {
    margin-top: 24px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 2px;
    border-color: rgba(74, 75, 84, 0.5);
    min-height: 150px;
    width: 100%;
    color: #29292F;
    font-size: 14px;
    line-height: 21px;
    display: block;
    cursor: pointer;
    padding: 24px;
}

.md1-input {
    padding: 12px 16px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 0.5px solid rgba(74,75,84,0.5);
    font-size: 12px;
    line-height: 18px;
    font-family: Nunito Sans;
    color: #29292F;
}

.md1-input::-moz-placeholder {
    color: #4A4B54;
}