<section class="contact-us">
    <div class="row p-0 m-0">
        <div class="col-lg-4 col-md-12 col-sm-12 p-0">
            <div class="contactUsBody">
                <div
                    class="contactUsLeft">
                    <div class="contact-us-title">Reach Us</div>
                    <div class="contact-us-seperator"></div>
                    <div class="contact-us-left">
                        <img
                                class="contact-us-left-icon"
                                src="assets/icons/ic_mail_icon.png">
                        <div class="contact-us-left-text">
                                info@classywed.com
                        </div>
                    </div>                    
                    <div class="contact-us-left">
                        <img
                            class="contact-us-left-icon"
                            src="assets/icons/ic_call_icon.png">
                        <div class="contact-us-left-text">
                              +91761924782,<br>
                              +91761924782,<br>
                              +91761924782
                        </div>
                    </div>                    
                    <div class="contact-us-left">
                        <img
                                class="contact-us-left-icon"
                                src="assets/icons/ic_directions_icon.png">
                        <div class="contact-us-left-text">
                            Gate No. 5, Palace Ground, Bellary Road Near Mekhri Circle, Jayamahal, Bengaluru, Karnataka 560006
                        </div>
                    </div>
                    <div class="contact-us-left-maps">
                        <img
                                class="contact-us-left-maps-icon"
                                src="assets/icons/ic_maps_icon.png">
                        <u class="contact-us-left-maps-text"><span>Open Maps</span></u>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="contactUsBody">
                <div class="row">
                    <div class="col-lg-12 contact-us-label">
                        Enter your detail and we will call you <span class="contact-us-label-bold">soon!</span>
                    </div>
                    <div class="col-lg-6">
                        <div class="md-group">
                            <label class="contact-us-input-label">Name</label>
                            <input 
                                class="md1-input" 
                                type="text" 
                                required="required"
                                placeholder="Enter your name"/>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="md-group">
                            <label class="contact-us-input-label">Contanct Number</label>
                            <input class="md1-input" 
                                type="text" 
                                placeholder="Enter your contact number"
                                required="required"/>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="md-group">
                            <label class="contact-us-input-label">Email Id</label>
                            <input class="md1-input" type="text" 
                            placeholder="Enter your email id"
                            required="required"/>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="md-group">
                            <div class="contact-us-input-label" style="padding-top:32px!important">Preffered way of communication</div>
                            <div class="row" style="padding: 0px 12px!important;">
                                <div class="col-lg-6 col-sm-12 col-md-12">
                                    <div class="md-radio md-radio-inline">
                                        <input id="3" type="radio" name="g2" checked>
                                        <label for="3">Email Id</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-md-12">
                                    <div class="md-radio md-radio-inline">
                                        <input id="4" type="radio" name="g2">
                                        <label for="4">Phone</label>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>

                    <div class="col-lg-12">
                        <div class="md-group">
                            <div class="contact-us-input-label" style="padding-left: 27px;">How can we help you</div>
                            <textarea 
                                class="app-product-details-write-your-review-input-area" 
                                type="text" 
                                placeholder="Tell us about your experience*"
                                required="required">
                            </textarea>
                        </div>
                    </div>

                                                     
                </div>

                <div class="row p-0 m-0">
                    <div class="col-lg-9 col-md-6 col-sm-0"></div>
                    <div class="col-lg-3 col-md-6 col-sm-12 contact-us-input-submit">
                        Submit
                    </div>
                </div>
                

            </div>
        </div>    
    </div>
</section>
