.contact-us {
    background: #ffffff;
}

.contact-us-content {
    text-align: center;
    box-shadow: 0px 4px 10px rgba( 0, 0, 0, 0.15);
    margin: 90px 140px 114px 140px !important;
    background: url("../../../assets/icons/app-contact-us-bgr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.contact-us-label1 {
    padding: 0px 183px;
    width: 100%;
    text-align: center;
    color: #535353;
    font-family: "Nunito Sans Bold";
    font-size: 36px;
    line-height: 54px;
    margin-top: 46px !important;
}

.contact-us-label2 {
    padding: 0px 183px;
    width: 100%;
    text-align: center;
    color: #535353;
    font-family: "Nunito Sans Bold";
    font-size: 14px;
    line-height: 21px;
    margin-top: 16px !important;
}



.contact-us-label3 {
    color: #535353;
    font-family: "Nunito Sans Regular";
    font-size: 14px;
    line-height: 19px;
    margin-top: 12px !important;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-bottom: 46px!important;
    width: 50%;
    text-align: left;
}


.contact-us-input-holder {
    margin-top: 28px!important;
    margin-left: auto!important;
    margin-right: auto!important;
    width: 50%;
    border-color: #A87F4122;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    background: rgba(255,255,255,0.1);
}

.contact-us-input-number {
    background: transparent;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 24px;
    font-family: "Nunito Sans Regular";
    border: none;
    color: #535353;
}

.contact-us-input-number::-moz-placeholder {
    color: #B5B6C0;
}

.contact-us-input-icon {
    width: 20px;
    height: 20px;
    margin-top: 14px;
    margin-left: 12px;
}



.contact-us-input-submit {
    width: 100%;
    padding: 12px 19px;
    color: #ffffff;
    background: #0361E3;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-family: "Nunito Sans Bold";
}
