.app-services {
    height: 100vh;
    background: url("../../../assets/icons/services_bgr.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 54px;
    padding-left: 84px;
    padding-right: 84px;
}

.services-label-container {

}

.services-label {
    margin: auto;
    color: #181821;
    font-size: 36px;
    line-height: 51px;
    font-family: "Nunito Sans Bold";
    margin-top: 53px !important;
    margin-bottom: 16px !important;
}


.carousel-container {
    height: 85%;
}

.carousel-item {
    height: 100%;
    margin-left: 52px;
    margin-right: 2px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
