<section class="contact-us">
    <div class="row p-0 m-0 contact-us-content">
        <p class="contact-us-label1">Ready to have a hastle free wedding?</p>
        <p class="contact-us-label2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        <div class="row contact-us-input-holder p-0 m-0">
            <div class="col-lg-1 p-0">
                <img class="contact-us-input-icon"
                    src="assets/icons/app-call.png" alt="">
            </div>
            <div class="col-lg-7 p-0">
                <input class="contact-us-input-number" placeholder="Enter phone number for free consultation">
            </div>
            <div class="col-lg-4 p-0">
                <div class="contact-us-input-submit">
                    Get free consultation
                </div>
            </div>
        </div>
        <div style="width: 100%;">
            <p class="contact-us-label3">e.g. +918660765689</p>
        </div>
        
    </div>
</section>
