<section class="why-choose-us">
    <div class="why-choose-us-title">Why Choose Us?</div>
    <div class="row why-choose-us-content">
        <div
            *ngFor="let item of items;let i = index;"
            class="col-lg-3" style="text-align: center;">
            <div class="row">
                <div class="col-lg-11">
                    <img class="why-choose-us-icons" src="assets/icons/{{item.icon}}.png">
                    <div class="why-choose-us-label">{{item.label}}</div>
                    <div class="why-choose-us-description">{{item.description}}</div>
                </div>
                <img *ngIf="i != items.length - 1"
                     class="why-choose-us-icon-separator"
                     src="assets/icons/why_choose_us_seperator.png">
            </div>
        </div>
    </div>
</section>
