.why-choose-us {
    width: 100%;
    padding-top: 29px;
    padding-bottom: 98px;
    background: url("~assets/icons/why_choose_us_bgr.png") no-repeat;
    background-size: cover;
}

.why-choose-us-title {
    margin-bottom: 60px;
    text-align: center;
    width: 100%;
    font-size: 36px;
    line-height: 54px;
}

.why-choose-us-content {
    margin: auto 0px;
}

.why-choose-us-icons {
    height: 70px;
    width: 80px;
}

.why-choose-us-icon-separator {
    height: 100px;
    width: 1px;
}

.why-choose-us-label {
    letter-spacing: 0px;
    margin-top: 20px;
    line-height: 27px;
    font-size: 20px;
    font-family: 'Nunito Sans Bold';
    color: #29292F;
}

.why-choose-us-description {
    margin-top: 4px;
    line-height: 22px;
    font-size: 16px;
    font-family: 'Nunito Sans';
    color: #4A4B54;
}
