<div class="app-services">
    <div class="services-label-container">
        <div class="services-label">
            Choose these services at every budget
        </div>
    </div>
    <div class="carousel-container">
<!--        <div id="servicesCarouselIndicators" class="carousel slide full-parent-height" data-ride="carousel">-->
<!--            <ol class="carousel-indicators">-->
<!--                <li data-target="#servicesCarouselIndicators" data-slide-to="0" class="active"></li>-->
<!--                <li data-target="#servicesCarouselIndicators" data-slide-to="1"></li>-->
<!--                <li data-target="#servicesCarouselIndicators" data-slide-to="2"></li>-->
<!--            </ol>-->
<!--            <div class="carousel-inner full-parent-height" role="listbox">-->
<!--                &lt;!&ndash; Slide One - Set the background image for this slide in the line below &ndash;&gt;-->
<!--                <div class="carousel-item active">-->
<!--                    <app-home-products-service-list>-->

<!--                    </app-home-products-service-list>-->
<!--                </div>-->
<!--                &lt;!&ndash; Slide Two - Set the background image for this slide in the line below &ndash;&gt;-->
<!--                <div class="carousel-item">-->
<!--                    <app-home-products-service-list>-->

<!--                    </app-home-products-service-list>-->
<!--                </div>-->
<!--                &lt;!&ndash; Slide Three - Set the background image for this slide in the line below &ndash;&gt;-->
<!--                <div class="carousel-item">-->
<!--                    <app-home-products-service-list>-->

<!--                    </app-home-products-service-list>-->
<!--                </div>-->
<!--            </div>-->
<!--            <a class="carousel-control-prev" href="#servicesCarouselIndicators" role="button" data-slide="prev">-->
<!--                <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                <span class="sr-only">Previous</span>-->
<!--            </a>-->
<!--            <a class="carousel-control-next" href="#servicesCarouselIndicators" role="button" data-slide="next">-->
<!--                <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                <span class="sr-only">Next</span>-->
<!--            </a>-->
<!--        </div>-->

        <app-home-services-service-list>

        </app-home-services-service-list>
    </div>

</div>
