@import url('https://fonts.googleapis.com/css?family=Nunito Sans&display=swap');

/* Hide scrollbar for IE and Edge */
html , body {
    width: 100%;
    overflow-x: hidden;
    /* -ms-overflow-style: none; */
}


/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}
body::-webkit-scrollbar {
    display: none;
}