<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top nav-bar-content">
    <div class="container">
        <a class="navbar-brand" href="home">
            <img src="assets/icons/app_logo_rectangle.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-sm-none d-md-none d-lg-flex nav-bar-menu-desktop ">
            <a class="nav-bar-menu-item" href="#">Home</a>
            <a class="nav-bar-menu-item" href="#">Vendors</a>
            <a class="nav-bar-menu-item" href="#">Services</a>
            <a class="nav-bar-menu-item" href="#">Blogs</a>
            <a class="nav-bar-menu-item" href="#">Join as a vendor</a>
        </div>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <a class="ml-auto">
                <img class="nav-bar-search-icon"
                     src="assets/icons/app-search-white.png"
                     alt="">
            </a>
            <a (click)="openContactUs()" class="nav-bar-submit">Contact us</a>
            <ul class="navbar-nav ml-auto d-lg-none d-xl-none">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vendors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Join as a vendor</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
