.nav-bar-content {
    background: url("../../../assets/icons/app-default-header-bgr.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px 46px !important;
    height: 104px;
}

.nav-bar-search-icon {
    height: 24px;
    width: 24px;
    margin-right: 36px!important;
}

.nav-bar-submit {
    border-radius: 2px;
    padding: 12px 24px;
    color: #ffffff !important;
    background: #0361E3;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-family: 'Nunito Sans Semi Bold';
}

.nav-bar-menu-desktop {
    margin-left: 120px!important;
}

.nav-bar-menu-item {
    margin-left: 48px!important;
    font-family: "Nunito Sans";
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
}
