<section class="app-home-steps">
    <div class="steps-label">3 simple steps towards your perfect wedding</div>

    <section class="step-right">
        <div class="row full-parent-height align-items-center">
            <div class="col-12">
                <div class="row p-0 m-0 step1">
                    <div class="col-lg-6 col-md-4 col-sm-12 p-0 m-0 step1-icon-holder">
                        <img class="step-icon" src="assets/icons/step1.png">
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-12 p-0 m-0 step1-content">
                        <div class="steps-title">Enter your number below and our Super-planners will call you </div>
                        <div class="steps-description">Confused about the location? Can’t decide the food Caterer? . . . . Dont worry our Super-planners have got your back.
                            <br>Why dont we get in touch and discuss further?
                        </div>
                        <div class="row step1-input-holder p-0 m-0">
                            <div class="col-lg-1 col-md-1 col-sm-1 p-0">
                                <img class="button-icon" src="assets/icons/app-call.png">
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-11 p-0">
                                <input class="step1-input-number" placeholder="Enter phone number">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                                <div class="step1-input-submit">
                                    Contact me
                                </div>
                            </div>
                        </div>
                        <div class="steps-description">
                            You can also give us a call on
                            <span class="blue-color-text">+91-9999999999</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="step-left">
        <div class="row full-parent-height">
            <div class="col-12">
                <div class="row p-0 m-0 step2">
                    <div class="col-lg-6 col-md-8 col-sm-12 p-0 m-0 step2-content parent_with_center_child">
                        <div class="child_in_center">
                            <div class="steps-title">Plan your dream wedding with our team “YOUR WAY”</div>
                            <div class="steps-description">Dedicated Super-planner for each client to make their dream possible. Choose from over 100+ vendors at the cheapest prices in market. </div>
                            <div class="row step2-input-holder p-0 m-0">
                                <div class="col-lg-4 col-md-6 col-sm-12 p-0">
                                    <div class="step2-input-submit">
                                        See all Vendors
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-12 p-0 m-0 step2-icon-holder">
                        <img class="step-icon" src="assets/icons/step2.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="step-right">
        <div class="row full-parent-height align-items-center">
            <div class="col-12 text-center">
                <div class="row p-0 m-0 step3">
                    <div class="col-lg-6 col-md-12 col-sm-12 p-0 m-0 step3-icon-holder">
                        <img class="step-icon" src="assets/icons/step3.png">
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 p-0 m-0 step3-content">
                        <div class="steps-title">Enjoy the Moments! We will take care of all the hassle!</div>
                        <div class="steps-description">
                            Its your big day, enjoy the moments with your loved ones! We will take care of all the work and hassle.
                            <br>Our team is specialised in making your big day even bigger and special!
                        </div>
                        <div class="row step3-input-holder p-0 m-0">
                            <div class="col-lg-10 col-md-11 col-sm-11 p-0">
                                <div class="step3-input-submit">
                                    Check out our real word stories<img class="step3-input-submit-icon" src="assets/icons/app-chevron-right-blue.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>
