.blue-color-text {
    color: #0361E3;
}
.button-icon{
    margin: auto;
    margin-top: 14px;
    margin-left: 12px;
    height: 20px;
    width: 20px;
}
.app-home-steps {
    background: #ffffff;
    text-align: center;
    padding-top: 54px;
}

.step-icon {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.steps-label {
    color: #181821;
    font-size: 36px;
    line-height: 51px;
    font-family: NunitoSansBold;
    margin-top: 53px !important;
    margin-bottom: 16px !important;
}

.step-left {
    background: url("~assets/icons/step_left.png") no-repeat left;
    background-size: contain;
    margin: 36px 0px;
}

.step-right {
    background: url("~assets/icons/step_right.png") no-repeat right;
    background-size: contain;
    margin: 36px 0px;
}

.steps-title {
    text-align: left;
    width: 100%;
    color: #181821;
    font-size: 24px;
    line-height: 36px;
    font-family: 'Nunito Sans Bold';
}

.steps-description {
    text-align: left;
    width: 100%;
    color: #181821;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Nunito Sans';
    margin-top: 16px !important;
}


/*STEP 1*/
.step1 {
    padding-top: 13px!important;
    padding-right: 90px!important;
    padding-left: 110px!important;
    padding-bottom: 41px!important;
}

.step1-icon-holder {
    text-align: right;
    padding-right: 47px!important;
}

.step1-content {
    padding-top: 28px !important;
    padding-left: 47px!important;
}


.step1-input-holder {
    margin-top: 24px!important;
    border-color: #CFD1DE;
    background: #ffffff;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
}

.step1-input-number {
    background: #ffffff;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Nunito Sans';
    border: none;
}

.step1-input-number::-moz-placeholder {
    color: #A2A3AE;
}


.step1-input-submit {
    width: 100%;
    padding: 12px 19px;
    color: #ffffff;
    background: #0361E3;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-family: 'Nunito Sans Bold';
}

/*STEP 2*/
.step2 {
    padding-top: 27px!important;
    padding-right: 114px!important;
    padding-left: 150px!important;
    padding-bottom: 50px!important;
}

.step2-icon-holder {
    text-align: right;
    padding-left: 47px!important;
}

.step2-content {
    padding-top: 23px !important;
    padding-bottom: 26px;
    padding-right: 47px!important;
}

.step2-input-holder {
    margin-top: 24px!important;
}

.step2-input-submit {
    width: 100%;
    padding: 12px 19px;
    color: #ffffff;
    background: #0361E3;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-family: 'Nunito Sans Bold';
}


/*STEP 3*/

.step3 {
    padding-top: 71px!important;
    padding-right: 90px!important;
    padding-left: 110px!important;
}

.step3-icon-holder {
    text-align: right;
    padding-right: 47px!important;
}

.step3-content {
    padding-top: 54px !important;
    padding-left: 47px !important;
    padding-bottom: 53px !important;
}

.step3-input-holder {
    margin-top: 24px!important;
}

.step3-input-submit {
    width: 100%;
    padding: 12px 19px;
    color: #0361E3;
    background: #0361E310;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-family: 'Nunito Sans SemiBold';
}

.step3-input-submit-icon {
    width: 20px;
    height: 20px;
    margin-left: 12px;
}


.parent_with_center_child{
    display: table;
    height: 100%;
}

.child_in_center {
    display: table-cell;
    vertical-align: middle;
}