<section class="app-home-steps">
    <div class="steps-label">3 simple steps towards your perfect wedding</div>

    <section class="half-height step-right">
        <div class="row full-parent-height align-items-center">
            <div class="col-12 text-center">
                <div class="row p-0 m-0">
                    <div class="col-lg-6 col-md-4 col-sm-12 p-0 m-0">
                        <img src="assets/icons/step1.png">
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-12 p-0 m-0">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="half-height step-left">
        <div class="row full-parent-height align-items-center">
            <div class="col-12 text-center">
                <div class="row p-0 m-0">
                    <div class="col-lg-6 col-md-8 col-sm-12 p-0 m-0">

                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-12 p-0 m-0">
                        <img src="assets/icons/step2.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="half-height step-right">
        <div class="row full-parent-height align-items-center">
            <div class="col-12 text-center">
                <div class="row p-0 m-0">
                    <div class="col-lg-6 col-md-4 col-sm-12 p-0 m-0">
                        <img src="assets/icons/step3.png">
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-12 p-0 m-0">

                    </div>
                </div>
            </div>
        </div>
    </section>

</section>
