.app-product-details-card-container {
    padding: 20px !important;
    min-height: 355px !important;
}

.app-product-details-card {
    height: 100%;
    background: #ffffff;
}

.app-product-details-card-content {
    padding: 24px 24px 58px 24px!important;
    background: #ffffff;
}

.app-product-details-card-title {
    font-family: 'Nunito Sans Bold';
    color: #29292F;
    line-height: 30px;
    font-size: 20px;
    text-align: left;
}

.app-product-details-card-package-title {
    font-family: 'Nunito Sans';
    color: #A2A3AE;
    line-height: 14px;
    font-size: 10px;
    text-align: right;
}

.app-product-details-card-package-rating {
    margin-top: 4px;
}

.app-product-details-card-package-price {
    margin-top: 2px;
    font-family: 'Nunito Sans Semi Bold';
    color: #29292F;
    line-height: 21px;
    font-size: 14px;
    text-align: right;
}

.app-product-details-card-package-description {
    margin-top: 12px;
    font-family: 'Nunito Sans Semi Bold';
    color: #A2A3AE;
    line-height: 16px;
    font-size: 12px;
    text-align: left;
}
