<div class="row p-0 m-0 full-parent-height">
    <!-- *ngIf="selectedProductDetails != null else detailsNotPresent" -->
    <div    
        class="col-lg-12 col-md-12 col-sm-12 p-0 app-product-details-card-container">
            <div class="card border-0 shadow app-product-details-card">
                <img
                    style="width: 100%;height: 300px;background: #ffffff"
                    src="assets/icons/{{selectedProductDetail.icon}}">
                <div class="app-product-details-card-content">
                    <div class="row">
                        <div class="col-lg-9 p-0">
                            <div class="app-product-details-card-title">{{selectedProductDetail.name}}</div>
                            <div class="app-product-landmark">
                                <img
                                    style="width: 16px;height: 16px;"
                                    src="assets/icons/app_my_location.png">
                                <div>
                                    <span>{{selectedProductDetail.landmark}}</span> 
                                    <span class="app-product-view-on-map">View on map</span>
                                    <span class="app-product-view-on-map">{{selectedProductDetail.address}}</span> 
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 p-0" style="text-align: right;">
                            <div class="app-product-review-box-holder">
                                <div class="app-product-review-box">
                                    <i class="fa fa-star start-icon"></i>{{selectedProductDetail.rating}}
                                </div> 
                            </div>
                            <div class="app-product-review-count">{{selectedProductDetail.reviewsCount}} Reviews</div> 
                            <div class="app-product-details-card-package-title">Package starting from</div>
                            <div class="app-product-details-card-package-price">{{selectedProductDetail.price}} INR</div>
                        </div>
                    </div>
                    
                    
                </div>
                <div>
                    <ul class="nav nav-tabs" id="mySelectedProductsTabHead">
                        <li class="active"><a data-toggle="tab" href="#tabAbout">About</a></li>
                        <li><a data-toggle="tab" href="#tabAreas">Areas Available</a></li>
                        <li><a data-toggle="tab" href="#tabPhotos">20 Photos</a></li>
                        <li><a data-toggle="tab" href="#tabReview">Review</a></li>
                        <li><a data-toggle="tab" href="#tabContact">Contact Us</a></li>
                    </ul>  
                    <div class="tab-content" id="mySelectedProductsViewPager">
                        <!-- About Us Section -->
                        <div id="tabAbout" class="tab-pane fade in active">
                            <div class="app-product-details-about-us-title">{{selectedProductDetail.name}}</div>
                            <div class="app-product-details-about-us-intro">{{selectedProductDetail.intro}}</div>
                            <ng-container *ngFor="let aboutContent of selectedProductDetail.aboutContent">
                                <div class="app-product-details-about-us-content-title">{{aboutContent.title}}</div>
                                <div class="app-product-details-about-us-content-content">{{aboutContent.description}}</div> 
                            </ng-container>
                        </div>

                        <!-- Available Packages -->
                        <div id="tabAreas" class="tab-pane fade">
                            <div
                                class="app-product-details-packages-available" 
                                *ngFor="let packageAvailable of selectedProductDetail.packageAvailable">
                                <div class="row m-0 p-0">
                                    <div class="col-lg-5 p-0">
                                        <div class="app-product-details-packages-available-title">{{packageAvailable.title}}</div>
                                        <div class="app-product-details-packages-available-description">{{packageAvailable.description}}</div> 
                                    </div>
                                    <div class="col-lg-4 p-0">
                                        <div class="app-product-details-packages-available-text">Package starting from</div>
                                        <div class="app-product-details-packages-available-price">{{packageAvailable.price}} INR</div>
                                    </div>
                                    <div class="col-lg-3 p-0">
                                        <div class="app-product-details-packages-available-get-deal">
                                            Get the best deal
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Photos -->
                        <div id="tabPhotos" class="tab-pane fade">
                            <h3>Menu Photos</h3>
                            <p>Some content in menu 2.</p>
                        </div>

                        <!-- Reviews -->
                        <div id="tabReview" class="tab-pane fade">
                            <h3>Menu Review</h3>
                            <p>Some content in menu 2.</p>
                        </div>

                        <!-- Contact Us -->
                        <div id="tabContact" class="tab-pane fade">
                            <h3>Menu Contact</h3>
                            <p>Some content in menu 2.</p>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
</div>
<ng-template #detailsNotPresent>
   Select Something
</ng-template>
