<div class="row p-0 m-0 full-parent-height">
    <!-- *ngIf="selectedProductDetails != null else detailsNotPresent" -->
    <div    
        class="col-lg-12 col-md-12 col-sm-12 p-0 app-product-details-card-container">
            <div class="card border-0 shadow app-product-details-card">
                <img
                    style="width: 100%;height: 300px;background: #ffffff"
                    src="assets/icons/{{selectedProductDetail.icon}}">
                <div class="app-product-details-card-content">
                    <div class="row">
                        <div class="col-lg-9 p-0">
                            <div class="app-product-details-card-title">{{selectedProductDetail.name}}</div>
                            <div class="app-product-landmark">
                                <img
                                    class="dib vertical-a-t"
                                    style="width: 16px;height: 16px;"
                                    src="assets/icons/app_my_location.png">
                                <div class="dib vertical-a-t" style='margin-left: 8px;'>
                                    <div class="dib vertical-a-t">{{selectedProductDetail.landmark}}</div> 
                                    <div style='margin-left: 8px;'class="app-product-view-on-map dib vertical-a-t">View on map</div>
                                    <div class="app-product-view-on-map">{{selectedProductDetail.address}}</div> 
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 p-0" style="text-align: right;">
                            <div class="app-product-review-box-holder">
                                <div class="app-product-review-box">
                                    <i class="fa fa-star start-icon"></i>{{selectedProductDetail.rating}}
                                </div> 
                            </div>
                            <div class="app-product-review-count">{{selectedProductDetail.reviewsCount}} Reviews</div> 
                            <div class="app-product-details-card-package-title">Package starting from</div>
                            <div class="app-product-details-card-package-price">{{selectedProductDetail.price}} INR</div>
                        </div>
                    </div>
                    
                    
                </div>
                <div>
                    <ul class="nav nav-tabs" id="mySelectedProductsTabHead">
                        <li><a data-toggle="tab" target="_self" href="#tabAbout">About</a></li>
                        <li><a data-toggle="tab" target="_self" href="#tabAreas">Areas Available</a></li>
                        <li><a data-toggle="tab" href="#tabPhotos">{{selectedProductDetail.photos.length}} Photos</a></li>
                        <li class="active" ><a data-toggle="tab" href="#tabReview">Review</a></li>
                        <li><a data-toggle="tab" href="#tabContact">Contact Us</a></li>
                    </ul>  
                    <div class="tab-content" id="mySelectedProductsViewPager">
                        <!-- About Us Section -->
                        <div id="tabAbout" class="tab-pane fade in">
                            <div style="padding-bottom: 48px;">
                                <div class="app-product-details-about-us-title">{{selectedProductDetail.name}}</div>
                                <div class="app-product-details-about-us-intro">{{selectedProductDetail.intro}}</div>
                                <ng-container *ngFor="let aboutContent of selectedProductDetail.aboutContent">
                                    <div class="app-product-details-about-us-content-title">{{aboutContent.title}}</div>
                                    <div class="app-product-details-about-us-content-content">{{aboutContent.description}}</div> 
                                </ng-container>
                            </div>
                        </div>

                        <!-- Available Packages -->
                        <div id="tabAreas" class="tab-pane fade">
                            <div
                                class="app-product-details-packages-available" 
                                *ngFor="let packageAvailable of selectedProductDetail.packageAvailable">
                                <div class="row m-0 p-0">
                                    <div class="col-lg-5 p-0">
                                        <div class="app-product-details-packages-available-title">{{packageAvailable.title}}</div>
                                        <div class="app-product-details-packages-available-description">{{packageAvailable.description}}</div> 
                                    </div>
                                    <div class="col-lg-4 p-0">
                                        <div class="app-product-details-packages-available-text">Package starting from</div>
                                        <div class="app-product-details-packages-available-price">{{packageAvailable.price}} INR</div>
                                    </div>
                                    <div class="col-lg-3 p-0">
                                        <div class="app-product-details-packages-available-get-deal">
                                            Get the best deal
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Photos -->
                        <div id="tabPhotos" class="tab-pane fade">
                            
                            <div 
                                class="app-product-details-photo-list" 
                                class="row m-0 p-0">
                                <div 
                                    *ngFor="let photoUrl of selectedProductDetail.photos"
                                    class="col-lg-6">
                                    <a 
                                        (click)='showImage(photoUrl)' 
                                        href="#productImageShowcase" 
                                        role="button" 
                                        class="img-fluid app-product-details-photo-thumbnail" 
                                        data-toggle="modal">
                                        <img 
                                            class="img-fluid app-product-details-photo-thumbnail" 
                                            alt="Card image cap" 
                                            src="{{photoUrl}}"></a>

                                    
                                </div>
                            </div>

                        </div>

                        <!-- Reviews -->
                        <div id="tabReview" class="tab-pane fade active">
                            <div style="padding: 32px 0px 48px 0px;">
                                <div class="ratingBoxPadding">
                                    <div class="app-product-details-review-tab-title">{{selectedProductDetail.name}}</div>
                                    <div class="app-product-details-review-tab-write-a-review-box">
                                        <i class="fa fa-pencil app-product-details-review-tab-write-a-review-box-icon"></i>
                                        <span 
                                            (click)='enableNewRatingSection()'
                                            class="app-product-details-review-tab-write-a-review-box-text">Write a review</span>
                                    </div>
                                </div>
                                
                                <!-- New Review -->
                                <ng-container *ngIf='canGiveNewReview'>
                                    <div class="ratingBoxPadding">
                                        <div class="app-product-details-review-tab-rate-your-venue">
                                            Rate your venue
                                        </div>
                                        <div class="app-product-details-give-rating-stars">
                                                <i class="fa fa-star {{apdgrs[0]}}" (click)='selectStarTill(1)'></i>
                                                <i class="fa fa-star {{apdgrs[1]}}" (click)='selectStarTill(2)'></i>
                                                <i class="fa fa-star {{apdgrs[2]}}" (click)='selectStarTill(3)'></i>
                                                <i class="fa fa-star {{apdgrs[3]}}" (click)='selectStarTill(4)'></i>
                                                <i class="fa fa-star {{apdgrs[4]}}" (click)='selectStarTill(5)'></i>
                                        </div>
                                        <div class="app-product-details-known-for">
                                            Known for
                                        </div>
                                        <div class="app-product-details-known-for-tags">
                                            <ng-container *ngFor="let knownForStatus of reviewProductKnownForStatus">
                                                <div 
                                                    *ngIf="knownForStatus.selected else unSelectedBlock"
                                                    (click)='selectProductKnownStatus(knownForStatus,false)'
                                                    class="apdkft apdkft-selected">{{knownForStatus.title}}</div>
                                                <ng-template #unSelectedBlock>
                                                    <div
                                                        (click)='selectProductKnownStatus(knownForStatus,true)' 
                                                        class="apdkft apdkft-unselected">{{knownForStatus.title}}</div>
                                                </ng-template>
                                            </ng-container>
                                        </div>
                                        <div class="app-product-details-write-your-review">
                                            Write your review
                                        </div>
                                        <textarea 
                                            class="app-product-details-write-your-review-input-area" 
                                            type="text" 
                                            placeholder="Tell us about your experience*"
                                            required="required">
                                        </textarea>
                                        <div class="app-product-details-write-your-review-submit"
                                            (click)='submitNewReview()'>
                                            Submit review
                                        </div>
                                    </div>
                                </ng-container>
                                <!-- Product Review -->
                                <div class="app-product-details-review-summary-title ratingBoxPadding">Review Summary</div>
                                <div class="app-product-details-review-summary-section ratingBoxPadding">
                                    <div class="app-product-details-review-summary-big-rating-box dib vertical-a-t">
                                        <div class="app-product-details-review-summary-big-rating-box-rating">
                                            {{selectedProductDetail.rating}}
                                        </div>
                                        <div 
                                        class="app-product-details-review-summary-big-rating-box-rating-stars">
                                            <i 
                                                *ngFor="let _class of getStarArray(selectedProductDetail.rating)"
                                                class="{{_class}}"></i>
                                         </div>
                                         <div class="app-product-details-review-summary-big-rating-box-rating-count">
                                            {{selectedProductDetail.reviewsCount}} Reviews
                                        </div>
                                    </div>
                                    <div class="app-product-details-review-summary-vertical-seperator dib vertical-a-t">
                                    </div>
                                    <div class="dib vertical-a-t">
                                        <div
                                            class="app-product-details-review-summary-rating-distributor"
                                            *ngFor="let ratingDistribution of selectedProductDetail.reviewResponse.starCounts.reverse();let i = index">
                                            <div class="app-product-details-review-summary-rating-count-label dib">
                                                {{5-i}}
                                            </div>
                                            <div class="app-product-details-review-summary-rating-count-horizontal-bar-holder dib">
                                                <div class="app-product-details-review-summary-rating-count-horizontal-bar" 
                                                    [style.width.%]="getWidthPercentage(ratingDistribution,selectedProductDetail.reviewResponse.starCounts)"
                                                >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="app-product-details-review-summary-social dib vertical-a-t">
                                        <div class="app-product-details-review-summary-social-review">
                                            {{selectedProductDetail.reviewResponse.socialReview}}
                                        </div>
                                        <div 
                                            class="app-product-details-review-summary-social-review"
                                            *ngIf="selectedProductDetail.reviewResponse.socialReviewSource != ''">
                                                - {{selectedProductDetail.reviewResponse.socialReviewSource}}
                                        </div>
                                        <div class="app-product-details-review-summary-best-know-for-holder">
                                            <ng-container 
                                                *ngFor="let knownFor of selectedProductDetail.reviewResponse.reviewHighlights;
                                                            last as isLast;
                                                            first as isFirst">
                                                        <span 
                                                            class="app-product-details-review-summary-best-know-for"    
                                                            *ngIf="isFirst">
                                                            People talk about
                                                        </span>
                                                        <span
                                                            class="app-product-details-review-summary-best-know-for-val">
                                                            {{knownFor}}
                                                        </span>
                                                        <span 
                                                        class="app-product-details-review-summary-best-know-for"    
                                                        *ngIf="!isLast">
                                                            and
                                                         </span>
                                                        
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <!-- Review List -->
                                <div>
                                    <div class="seperator"></div>
                                    <div class="app-product-details-reviews-title ratingBoxPadding">Reviews</div>
                                    <div 
                                        *ngFor="let review of selectedProductDetail.reviewResponse.reviewList">
                                        <div class="single-review-box">
                                            <div>
                                                <div class="review-user-profile-icon">

                                                </div>
                                                <div class="review-user-details vertical-a-t">
                                                    <div class="review-user-profile-name">
                                                        {{review.from}}
                                                    </div>
                                                    <div class="review-user-time">
                                                        {{review.time}} ago
                                                    </div>
                                                </div>
                                                <div style="float: right;" class="dib vertical-a-t">
                                                    <div class="app-product-review-box-holder">
                                                        <div class="app-product-review-box">
                                                            <i class="fa fa-star start-icon"></i>{{review.rating}}
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="review-user-message">
                                                {{review.review}}
                                            </div>
                                            <ng-container *ngIf="review.tags.length > 0">
                                                <div class="app-product-details-known-for">
                                                    Recommended for:
                                                </div>
                                                <div class="app-product-details-known-for-tags">
                                                    <div 
                                                        *ngFor="let tags of review.tags"
                                                        class="apdkft apdkft-unselected">{{tags}}</div>
                                                
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div 
                                            *ngIf="review.replyAvailale"
                                            class="single-review-reply-box">                                
                                            <img
                                                class="dib vertical-a-t"
                                                style="width: 24px;height: 24px;padding: 2px;"
                                                src="assets/icons/review-reply.png">
                                            <div class="review-reply-section dib vertical-a-t">
                                                <div class="review-reply-from">
                                                    {{review.replyFrom}}
                                                </div>
                                                <div class="review-reply">
                                                    {{review.reply}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Contact Us -->
                        <div id="tabContact" class="tab-pane fade">
                            <div class="app-product-details-contact">
                                <div class='app-product-details-contact-title'>
                                    Find best prices in the market, Kindly contact us and we will give you a deal you cannot refuse
                                </div>
                                <div class="row app-product-details-contact-number-holder p-0 m-0">
                                    <div class="col-lg-1 col-md-1 col-sm-1 p-0">
                                        <img class="button-icon" src="assets/icons/app-call.png">
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-11 p-0">
                                        <input class="app-product-details-contact-number" placeholder="Enter you phone number">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                                        <div class="app-product-details-contact-number-submit">
                                            Get final quotation
                                        </div>
                                    </div>
                                </div>
                                <div class='app-product-details-label-2'>
                                    Enter your details here
                                </div>
                                
                                <div class="row">
                                    <div class="col-lg-12 p-0">
                                        <div class="md-group">
                                            <input class="md-input" type="text" required="required"/>
                                            <span class="highlight"></span>
                                            <span class="md-bar"></span>
                                            <span class="md-bar-error"></span>
                                            <label class="md-label">Full name</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 p-0">
                                        <div class="row md-group p-0">
                                            <div class="col-lg-2 p-0">
                                                <input class="md-input" type="text" required="required"/>
                                                <span class="highlight"></span>
                                                <span class="md-bar"></span>
                                                <span class="md-bar-error"></span>
                                                <label class="md-label">+91</label>
                                            </div>
                                            <div class="col-lg-1 p-0">
                                            </div>
                                            <div class="col-lg-9 p-0">
                                                <input class="md-input" type="text" required="required"/>
                                                <span class="highlight"></span>
                                                <span class="md-bar"></span>
                                                <span class="md-bar-error"></span>
                                                <label class="md-label">Phone number</label>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>


                                <div class="app-product-details-contact-send-message">
                                    Send message
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
</div>
<ng-template #detailsNotPresent>
   Select Something
</ng-template>



<div class="modal fade" id="productImageShowcase" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full modal-lg modal-dialog-centered" role="document">
        <div class="modal-content p-0">
            <div class="modal-body p-0" id="result">
                <img 
                    class="img-fluid app-product-details-photo-enlarged" 
                    src="{{selectedPhotoUrl}}"
                    alt="Card image cap" >
            </div>
        </div>
    </div>
</div>