.header {
    background: url("../../../assets/icons/app_headder_bgr.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    padding: 24px 46px !important;
    height: 87%;

}
.header-label1 {
    width: 100%;
    color: #ffffff;
    font-family: "Nunito Sans Bold";
    font-size: 44px;
    line-height: 66px;
    margin-top: 38px !important;
}

.header-label2 {
    width: 100%;
    color: #ffffff;
    font-family: "Nunito Sans Bold";
    font-size: 16px;
    line-height: 26px;
    margin-top: 39px !important;
}

.header-label3 {
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    font-family: "Nunito Sans Bold";
    margin-top: 53px !important;
    margin-bottom: 16px !important;
}

.header-input-holder {
    border-color: #A87F4122;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    background: rgba(255,255,255,0.1);
}

.header-input-number {
    background: transparent;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 24px;
    font-family: "Nunito Sans Regular";
    border: none;
    color: #ffffff;
}

.header-input-number::-moz-placeholder {
    color: #B5B6C0;
}

.header-input-icon {
    width: 20px;
    height: 20px;
    margin-top: 14px;
    margin-left: 12px;
}



.header-input-submit {
    width: 100%;
    padding: 12px 19px;
    color: #ffffff;
    background: #A87F41;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-family: "Nunito Sans Bold";
}

.header-scroll-down {
    height: 13%;
    background-color: transparent; /* For browsers that do not support gradients */
    background-image: linear-gradient(transparent, black); /* Standard syntax (must be last) */
    padding-top: 14px !important;
    text-align: center;
}

.header-scroll-down-label {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-family: "Nunito Sans Regular";
}

.header-scroll-down-button {
    margin-top: 4px !important;
    height: 24px;
    width: 24px;
}
