<header class="header full-height">
    <div class="row p-0 m-0 header-content">
        <div class="col-lg-12 col-md-12 col-sm-12 p-0 ">
            <img src="assets/icons/app_logo_rectangle.png" alt="">
        </div>

        <div class="col-lg-5 col-md-7 col-sm-12 p-0">
            <p class="header-label1">Plan your big day.</p>
            <p class="header-label1">We'll <span style="background: #A6003B; padding:5px 5px"> make it happen!</span></p>
            <p class="header-label2">Choose over 1000+ genuine vendors for every budget with best quality and cheapest price in the market. </p>
            <p class="header-label3 ">Sign up for a free consultation</p>
            <div class="row header-input-holder p-0 m-0">
                <div class="col-lg-1 p-0">
                    <img class="header-input-icon"
                     src="assets/icons/app-call.png" alt="">
                </div>
                <div class="col-lg-7 p-0">
                    <input class="header-input-number" placeholder="Enter phone number for free consultation">
                </div>
                <div class="col-lg-4 p-0">
                    <div class="header-input-submit">
                        Get free consultation
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-scroll-down align-bottom">
        <p class="header-scroll-down-label p-0 m-0">Scroll down to learn more</p>
        <img class="header-scroll-down-button" src="assets/icons/scroll_down.png" alt="Down">
    </div>
</header>
