.app-footer {
    background: url("../../assets/icons/app_footer_bgr.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
}

.app-footer-content {
    padding: 92px 46px !important;
    height: 100%;
}

.app-footer-list-label{
    color: #ffffff;
    font-family: 'Nunito Sans Extra Bold';
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px !important;
}

.app-footer-list-content {
    color: #ffffff;
    font-family: Palatino;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 3px!important;
}

.app-footer-social-icon{
    background-repeat: no-repeat;
    background-size: cover;
    height: 24px;
    width: 24px;
    margin-right: 12px !important;
}
