<!-- Footer -->
<footer class="page-footer font-small blue pt-4 app-footer">

    <!-- Footer Links -->
    <div class="container-fluid app-footer-content">

        <!-- Grid row -->
        <div class="row">
            <div class="col-md-2 mb-md-0 mb-1"></div>
            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-2">

                <!-- Links -->
                <h5 class="app-footer-list-label">Vendors</h5>

                <ul class="list-unstyled">
                    <li class="app-footer-list-content">
                        <a href="#!">Venue</a>
                    </li>
                    <li class="app-footer-list-content">
                        <a href="#!">Food and caterors</a>
                    </li>
                    <li class="app-footer-list-content">
                        <a href="#!">Tents and Decor</a>
                    </li>
                    <li class="app-footer-list-content">
                        <a href="#!">Mehndi</a>
                    </li>
                    <li class="app-footer-list-content">
                        <a href="#!">Photographers</a>
                    </li>
                    <li class="app-footer-list-content">
                        <a href="#!">Make up</a>
                    </li>
                    <li class="app-footer-list-content">
                        <a href="#!">Visiting Cards</a>
                    </li>
                    <li class="app-footer-list-content">
                        <a href="#!">Luxury Transport</a>
                    </li>
                    <li class="app-footer-list-content">
                        <a href="#!">DJ and music</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-2">

                <!-- Links -->
                <h5 class="app-footer-list-label">Community</h5>

                <ul class="list-unstyled">
                    <li class="app-footer-list-content">
                        <a href="#!">Support</a>
                    </li>
                    <li class="app-footer-list-content">
                        <a href="#!">Forms</a>
                    </li>
                    <li class="app-footer-list-content">
                        <a href="#!">Terms</a>
                    </li>
                    <li class="app-footer-list-content">
                        <a href="#!">Privacy Notice</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-2">

                <!-- Links -->
                <h5 class="app-footer-list-label">Company</h5>

                <ul class="list-unstyled">
                    <li class="app-footer-list-content">
                        <a href="#!">About</a>
                    </li>
                    <li class="app-footer-list-content">
                        <a href="#!">Careers</a>
                    </li>
                    <li class="app-footer-list-content">
                        <a href="#!">Press</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mt-md-0 mt-2">

                <!-- Content -->
                <h5 class="app-footer-list-label">Follow us on</h5>
                <p>
                    <img class="app-footer-social-icon" src="assets/icons/twitter-bird.png">
                    <img class="app-footer-social-icon" src="assets/icons/facebook.png">
                    <img class="app-footer-social-icon" src="assets/icons/instagram.png">
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-1"></div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>

</footer>
<!-- Footer -->
