/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Palatino;
    src: url("assets/fonts/Palatino.ttf") format('ttf');
}


@font-face {
    font-family: NunitoSansExtraBold;
    src: url("assets/fonts/NunitoSansExtraBold.ttf") format('ttf');
}

@font-face {
    font-family: NunitoSansBold;
    src: url("assets/fonts/NunitoSansBold.ttf") format('ttf');
}

@font-face {
    font-family: NunitoSansSemiBold;
    src: url("assets/fonts/NunitoSansSemiBold.ttf") format('ttf');
}

@font-face {
    font-family: NunitoSansRegular;
    src: url("assets/fonts/NunitoSansRegular.ttf") format('ttf');
}

.full-height {
    height: 100vh;
}

.half-height {
    height: 50vh;
}

.half-parent-height {
    height: 50%;
}

.full-parent-height {
    height: 100%;
}
