<section>
    <div
        *ngIf="showLoader"
        class="myLoader">
       
        <circle-progress    
            [percent]="100"
            [radius]="100"
            [outerStrokeWidth]="2"
            [innerStrokeWidth]="2"
            space ="-2"
            unitsColor="#ffffff"
            titleColor="#ffffff"
            subtitle="Fetching"
            subtitleColor="#ffffff"
            subtitleFontSize="20"
            subtitleFontWeight="500"
            outerStrokeColor="#ffffff"
            innerStrokeColor="#DDDDDD"
            [animation]="true"
            [animationDuration]="10000"
            >
        </circle-progress>
    </div>
    <div>
        <app-home-header>
        </app-home-header>
        <app-home-products
            [hasRequestedCallback]="hasRequestedCallback"
            [selectedService]="selectedService"
            [selectedProductDetail]="selectedProductDetail"
            [availableProducts]="availableProducts"
            (onAddReviewClicked)="onAddReviewClicked($event)"
            (onContactUsClicked)="onContactUsClicked($event)">>
        </app-home-products>
    </div>
</section>